body {
  margin:0;
  padding:0;
  font-family: "BrushScript MT", cursive;
  background-color: black;
  width: auto;
}

main, aside, footer {
  width:80%;
  margin:auto;
  margin-top:2em;
}

aside {
  background:#8B008B;
  padding:2em;
  color: white;
}

main {
  background: #8B008B;
  padding:1em 2em 1em 2em;
  color: white;
}

footer {
  background: #8B008B;
  padding:1em 2em 1em 2em;
  color: white;
}

p {
  font-size: 15px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid gold;
    background-color: #8B008B;
    width: 100%;
    margin:auto;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: gold;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: black;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
